<launch>
	
	<arg name="x_pos" default="-4.0"/>
	  <arg name="y_pos" default="-4.0"/>
	  <arg name="z_pos" default="0.0"/>
	  <arg name="roll" default="0.0"/>
	  <arg name="pitch" default="0.0"/>
	  <arg name="yaw" default="0.0"/>
	<node name = "main" pkg= "shady_gazebo" type = "main.py" output = "screen" />
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
	<arg name="world_name"
		value="$(find shady_gazebo)/worlds/map.world"/>
		<arg name="paused" default="false"/>
		<arg name="use_sim_time" default="true"/>
		<arg name="gui" default="true"/>
		<arg name="headless" default="false"/>
		<arg name="debug" default="false"/>
	</include>

	<!-- Spawn Shady Robot into Gazebo -->
	<node name="spawn_urdf" pkg="gazebo_ros"
		type="spawn_model" output="screen"
		args="-file $(find shady_description)/urdf/shady.urdf
		-urdf -model shady -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)" />
</launch>
